{% extends "base.html" %}
{% block head %}
<style type="text/css">
.blank { font-style: italic; color: grey; }
.selected { background: #aaf }
.lastread { border-bottom: 1px solid blue }
</style>
<!-- for google.loader.ClientLocation -->
<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%223%22%2C%22other_params%22%3A%22sensor%3Dfalse%22%7D%5D%7D&key=ABQIAAAAN2mOaGTGRmHj7YXDqm3y2hRFUcGMNGXSsvhvt7-4vuAWGBAOthQP63-yYDUAtFcKEn-__YD7-88Z7g"></script>

<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script type="text/javascript">
// TODO add nick protection?
try {
function $(sel) { return document.querySelector(sel); }
function $$(sel) {
    var nodes = document.querySelectorAll(sel);
    var list = [];
    for (var i = 0; i < nodes.length; i++) {
        list.push(nodes[i]);
    }
    return list;
}
function setSize() {
    $$("#map, #chat-box").forEach(function (e) {
        e.style.height = (window.innerHeight - 40) + "px";
    });
    $("#chat-text").style.height = ($("#chat-box").clientHeight -
            $("#chat-nick").clientHeight -
            $("#chat-input").clientHeight - 55) + "px";
    $("#chat-text").scrollTop = $("#chat-text").scrollHeight;
}
window.addEventListener('resize', setSize, false);
document.addEventListener('DOMContentLoaded', function f() {
    var missCount = 0;
    var countMissed = false;
    function clearSelection(leaveLastRead) {
        $$("#chat-text ul li").forEach(function(item) {
            if (!leaveLastRead || item.className != "lastread")
                item.className = "";
        });
    }
    function missed() {
        if (!countMissed) return;
        var title = document.title;
        if (title.indexOf("(") == 0)
            title = title.substring(title.indexOf(")") + 2);
        missCount++;
        document.title = "(" + missCount + ") " + title;
        if (missCount == 1) {
            clearSelection();
            // something is clobbering $? -- or is it just a side effect
            // of looking at it in chrome's dev console
            var last = window.$("#chat-text ul li:last-child");
            if (last) // fix for /playback during blur
                last.className = "lastread";
        }
    }
    window.addEventListener('focus', function() {
        countMissed = false;
        var title = document.title;
        if (title.indexOf("(") == 0) {
            setTimeout(function() {
                // chrome redraw collision, tab title update is lost
                document.title = title.substring(title.indexOf(")") + 2);
            }, 200);
        }
    }, false);
    window.addEventListener('blur', function() {
        missCount = 0;
        countMissed = true;
    }, false);
    var squelchlist = {};
    var userid    = "{{userid}}";
    var BERMUDA_TRIANGLE = { latitude: 25.443275, longitude: -70.576172 }

    var latitude  = BERMUDA_TRIANGLE.latitude;
    var longitude = BERMUDA_TRIANGLE.longitude;
    if (google.loader.ClientLocation) {
        latitude  = google.loader.ClientLocation.latitude;
        longitude = google.loader.ClientLocation.longitude;
    }
    var blankText = "Type and press enter to send";
    var mapdiv    = $('#map');
    var markers   = {};
    var map;
    var nick;
    var nickre;
    function showNotification(node) {
        if (!window.webkitNotifications) return;
        var p = webkitNotifications.checkPermission();
        if (p != 0) return;
        //var n = webkitNotifications.createNotification(null, "Talk Map", m);
        var html = new XMLSerializer().serializeToString(node);
        var n = webkitNotifications.createHTMLNotification(
                "data:text/html," + escape(html));
        // n.onclose = function() { n = null; };
        n.show();
        setTimeout(function() { if (n) n.cancel(); }, 15000);
    }
    function requestNotificationPermission() {
        if (!window.webkitNotifications) return;
        var p = webkitNotifications.checkPermission();
        // 0 = allowed, 1 = haven't asked, 2 = denied
        if (p == 1)
            webkitNotifications.requestPermission();
    }
    // TODO also load/save stuff into localStorage and not just cookies
    function savesquelch() {
        // save squelchlist for 30 minutes, help prevent excessive squelching
        document.cookie = "chatkill=" + btoa(JSON.stringify(squelchlist)) +
                "; expires=" +
                (new Date(Date.now() + 1000 * 3600).toGMTString()) +
                "; path=/";
    }
    function savenick() {
        document.cookie = "chatnick=" + escape(nick) + "; expires=" +
                (new Date(Date.now() + 1000 * 3600 * 24 * 365).toGMTString()) +
                "; path=/";
        document.cookie = "chatuser=" + escape(userid) + "; expires=" +
                (new Date(Date.now() + 1000 * 3600 * 24 * 365).toGMTString()) +
                "; path=/";
        nickre = new RegExp("\\b" + nick + "\\b", "i");
    }
    setSize();
    map = new google.maps.Map(mapdiv, {
        zoom: 5,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        center: new google.maps.LatLng({{lat}},{{lon}})
    });
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(l) {
            latitude  = l.coords.latitude;
            longitude = l.coords.longitude;
            var p = new google.maps.LatLng(latitude, longitude);
            map.panTo(p);
            var r = new XMLHttpRequest();
            r.open("POST", "/geoip-html5", true);
            r.send(JSON.stringify({
                latitude:  latitude,
                longitude: longitude
            }));
        }, function() {});
    }
    var cookies = document.cookie.split("; ");
    for (var i = 0; i < cookies.length; i++) {
        var c = cookies[i];
        if (c.indexOf("chatnick=") == 0) {
            nick = unescape(c.substring(c.indexOf("=") + 1));
            $("#chat-nick").value = nick;
        }
        if (c.indexOf("chatuser=") == 0) {
            userid = unescape(c.substring(c.indexOf("=") + 1));
        }
        if (c.indexOf("chatkill=") == 0) {
            try {
                squelchlist = JSON.parse(atob(c.substring(c.indexOf("=") + 1)));
            } catch (e) {
                if (console && console.log)
                    console.log("could not reload squelch list: " + e);
            }
        }
    }
    if (nick == null) {
        nick = "guser" + Math.floor(10000 + Math.random() * 90000);
        $("#chat-nick").value = nick;
    }
    savenick();
    $("#chat-nick").addEventListener("change", function() {
        var oldnick = nick;
        nick = $("#chat-nick").value;
        var _nick = nick;
        nick = nick.replace(/\s/g, '');
        if (nick.length == 0)
            nick = oldnick;
        if (_nick != nick)
            $("#chat-nick").value = nick;

        savenick();
    }, false);
    $("#chat-input").addEventListener("focus", function() {
        var input = $("#chat-input");
        if (input.value.trim() == blankText) {
            input.value = "";
        }
        input.className = "";
    }, false);
    $("#chat-input").addEventListener("blur", function() {
        var input = $("#chat-input");
        if (input.value.trim() == "") {
            input.value = blankText;
            input.className = "blank";
        }
    }, false);
    $("#chat-input").value = blankText;
    $("#chat-input").className = "blank";
    var nicklist = [];
    var completing = false;
    $("#chat-input").addEventListener("keydown", function(e) {
        if (e.keyCode == 9) {
            var input = $("#chat-input");
            var value = input.value;
            var start = input.selectionStart;
            var end = input.selectionEnd;
            var beginning = value.lastIndexOf(" ", start - 1);
            var prefix = value.substring(beginning == -1 ?
                    0 : (beginning + 1), start).toLowerCase();
            var current = null;
            if (start != end) {
                current = prefix + value.substring(start, end);
            }
            var searchindex = nicklist.length - 1;
            if (current)
                searchindex = nicklist.lastIndexOf(current);
            var found = false;
            var candidate = null;
            for (var i = searchindex; i >= 0 && !found; i--) {
                var c = nicklist[i];
                if (current != c && c.toLowerCase().indexOf(prefix) == 0) {
                    found = true;
                    candidate = c;
                }
                if (i == 0 && !found) {
                    for (var j = nicklist.length - 1; j >= 0 && !found; j--) {
                        c = nicklist[j];
                        if (current != c &&
                                c.toLowerCase().indexOf(prefix) == 0) {
                            candidate = c;
                            found = true;
                        }
                    }
                }
            }
            if (candidate) {
                var suffix = candidate.substring(prefix.length);
                var atstart = value.substring(0, start);
                var atend = value.substring(end, value.length);
                input.value = atstart + suffix + atend;
                input.selectionStart = start;
                input.selectionEnd = start + suffix.length;
            }

            completing = true;
            e.preventDefault();
        }
        if (e.keyCode == 8 || e.keyCode == 46) { // backspace/delete
            completing = false;
        }
        // space, comma, colon/semicolon, period and slash/? (59 = : on ff)
        if ([32, 59, 186, 188, 189, 190, 191].indexOf(e.keyCode) != -1) {
            if (completing) {
                var input = $("#chat-input");
                input.selectionEnd += 1;
                input.selectionStart = input.selectionEnd
                completing = false;
            }
        }
    }, false);
    $("#chat-input").addEventListener("keyup", function(e) {
        var input = $("#chat-input");
        if (e.keyCode == 10 || e.keyCode == 13) {
            if (input.value.trim() != "") {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/send", true);
                xhr.onload = function() {
                    if (xhr.status == 403) {
                        add_message(xhr.responseText);
                    }
                };
                xhr.setRequestHeader("Content-type", "application/json");

                var request = {
                    user:    userid,
                    nick:    nick,
                    message: input.value.substring(0, 500)
                };
                xhr.send(JSON.stringify(request));
                input.value = "";
            }
            requestNotificationPermission();
        }
    }, false);
    var lastWindow = null;
    function add_message(message, color) {
        var li = document.createElement("li");
        li.textContent = message;
        li.style.color = color ? color : "red";
        $("#chat-text ul").appendChild(li);
        var div = $("#chat-text");
        div.scrollTop = div.scrollHeight;
        return li;
    }
    function add_item(m, panto, ul) {
        if (squelchlist[m.user]) return; // squelched message
        missed();
        var nickindex = nicklist.indexOf(m.nick);
        if (nickindex != -1)
            nicklist.splice(nickindex, 1);
        nicklist.push(m.nick);
        if (nicklist.length > 100)
            nicklist.splice(0, nicklistlength - 100);

        ul = ul || $("#chat-text ul");
        var li = document.createElement("li");
        var d = new Date(m.ts);
        var hh = d.getHours();
        if (hh < 10) hh = "0" + hh;
        var mm = d.getMinutes();
        if (mm < 10) mm = "0" + mm;
        var marker = markers[m.user + ":" + m.lat + ":" + m.lon];
        var pos = new google.maps.LatLng(m.lat, m.lon);
        if (panto) map.panTo(pos);
        function highlightItems(m) {
            var sel = "[userid='" + m.user + "']";
            $$(sel).forEach(function(item) {
                item.className = "selected";
            });
        }
        if (!marker) {
            marker = new google.maps.Marker({
                map: map,
                draggable: false,
                animation: google.maps.Animation.DROP,
                position: pos
            });
            marker.nickname = m.nick;
            markers[m.user + ":" + m.lat + ":" + m.lon] = marker;
            google.maps.event.addListener(marker, 'click', function() {
                if (lastWindow) {
                    lastWindow.close();
                    lastWindow = null;
                }
                clearSelection();
                var span = document.createElement("span");
                span.textContent = "Name: " + m.nick;
                var info = new google.maps.InfoWindow({
                    content: span,
                    position: pos,
                    maxWidth: 480
                });
                info.open(map, marker);
                lastWindow = info;

                highlightItems(m);
                google.maps.event.addListener(info, 'closeclick', function() {
                    clearSelection();
                });
            });
        }

        li.setAttribute("userid", escape(m.user));

        //li.textContent = "" + hh + ":" + mm + " " + m.nick + ": ";
        var span = document.createElement("span");
        span.textContent = "" + hh + ":" + mm + " " + m.nick + ": ";
        var lispan = document.createElement("span");
        var ptr = -1;
        var http  = m.msg.indexOf("http://");
        var https = m.msg.indexOf("https://");
        if (http == -1 && https == -1) {
            lispan.textContent = m.msg;
        }
        var start = 0;
        while (http != -1 || https != -1) {
            var idx = http != -1 ? http : https;
            lispan.appendChild(document.createTextNode(
                    m.msg.substring(start, idx)));
            var end = m.msg.indexOf(" ", idx);
            var href;
            if (end == -1) {
                href = m.msg.substring(idx, m.msg.length);
                http  = -1;
                https = -1;
            } else {
                start = end;
                href = m.msg.substring(idx, end);
                http  = m.msg.indexOf("http://", end);
                https = m.msg.indexOf("https://", end);
            }
            var a = document.createElement("a");
            a.setAttribute("href", href);
            a.setAttribute("target", "_blank");
            a.setAttribute("rel", "nofollow");
            a.textContent = href;
            lispan.appendChild(a);
            if (end != -1) {
                idx = http != -1 ? http : https;
                lispan.appendChild(document.createTextNode(
                        m.msg.substring(start,
                                idx == -1 ? m.msg.length : idx)));
            }
        }

        if (m.nick != nick && m.msg.match(nickre))
            lispan.setAttribute("style", "color: red");
        span.appendChild(lispan);
        li.appendChild(span);
        if (countMissed && panto)
            showNotification(span);
        li.style.cursor = "pointer";

        if (panto) {
            if (lastWindow) {
                lastWindow.close();
                lastWindow = null;
            }
            var span = document.createElement("span");
            span.textContent = m.nick + ": " + m.msg;
            var info = new google.maps.InfoWindow({
                content: span,
                position: pos,
                maxWidth: 480
            });
            info.open(map, marker);
            clearSelection(true);
            lastWindow = info;
        }
        li.addEventListener("click", function() {
            map.panTo(pos);
            var span = document.createElement("span");
            span.textContent = m.nick + ": " + m.msg;
            if (lastWindow) {
                lastWindow.close();
                lastWindow = null;
            }
            var info = new google.maps.InfoWindow({
                content: span,
                position: pos,
                maxWidth: 480
            });
            info.open(map, marker);
            clearSelection();
            highlightItems(m);

            google.maps.event.addListener(info, 'closeclick', function() {
                clearSelection();
            });
            lastWindow = info;
        }, false);
        li.addEventListener("dblclick", function() {
            var s_user = li.getAttribute("userid");
            if (s_user == userid) return;

            if (s_user in squelchlist) {
                squelchlist[s_user] = !squelchlist[s_user];
            } else {
                squelchlist[s_user] = true;
                var r = new XMLHttpRequest();
                r.open("POST", "/squelch", true);
                r.send(s_user);
            }

            var sel = "[userid='" + s_user + "']";
            if (squelchlist[s_user]) {
                $$(sel).forEach(function(item) {
                    item.style.color = "#ddd";
                });
            } else {
                $$(sel).forEach(function(item) {
                    item.style.color = "black";
                });
            }
            savesquelch();
        }, false);
        ul.appendChild(li);
    }
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/playback", true);
    xhr.onload = function() {
        if (xhr.status == 200) {
            var messages = JSON.parse(xhr.responseText);
            var ul = $("#chat-text ul");
            for (var i = 0; i < messages.length; i++) {
                var m = messages[i];
                add_item(m, false, ul)
            }
            $("#chat-text").scrollTop = $("#chat-text").scrollHeight;
        }
    };
    xhr.send();
    var geoxhr = new XMLHttpRequest();
    geoxhr.open("POST", "/geoip", true);
    geoxhr.send(JSON.stringify(google.loader.ClientLocation));

    var channel;
    var socket;
    var newversionalert = 0;
    var opened = false;
    function keepalive() {
        if (opened) {
            var r = new XMLHttpRequest();
            r.open("POST", "/ping", true);
            r.onload = function() {
                if (r.status == 200)
                    var data = JSON.parse(r.responseText);
                    $("#user-count").textContent = data.users;
                    if (data.version != {{version}}) {
                        if (newversionalert == 0) {
                            document.title = "[RELOAD] " + document.title;
                        }
                        // alert once every 10 minutes
                        if (newversionalert++ % 20 == 0) {
                            var li = add_message(
                                    "A new version is available, reload");
                            li.addEventListener("click", function() {
                                window.location.reload();
                            }, false);
                            li.style.cursor = "pointer";
                        }
                    }
            };
            var req = JSON.stringify({
                id:  userid,
                lat: latitude,
                lng: longitude
            });
            r.send(req);
        }
        setTimeout(keepalive, 30 * 1000);
    }
    keepalive();
    var handler = {
        errors: 0,
        onopen: function() {
            opened = true;
        },
        onerror: function(e) {
            opened = false;
            if (socket) {
                socket = null;
            }
            this.errors++;
            if ((this.errors % 20) == 0)
                alert("Channel API error: " + JSON.stringify(e));
            if (console && console.log) {
                console.log("Channel API error: " + JSON.stringify(e));
            }
        },
        onmessage: function(m) {
            opened = true;
            var message = JSON.parse(m.data);
            add_item(message, true);
            $("#chat-text").scrollTop = $("#chat-text").scrollHeight;
        },
        onclose: function() {
            opened = false;
            if (socket) {
                socket = null;
            }
            openChannel();
        }
    };
    function openChannel() {
        var iframe = $("#wcs-iframe"); // talkgadget bug workaround
        if (iframe)
            iframe.parentNode.removeChild(iframe);
        var r = new XMLHttpRequest();
        r.open("POST", "/channel-token", true);
        r.onload = function() {
            if (r.status == 200) {
                channel = new goog.appengine.Channel(r.responseText);
                socket = channel.open(handler);
                if (console && console.log) {
                    console.log("Opened a new channel socket");
                }
            } else {
                alert("Unable to open a new channel: " + r.status + " => " +
                        r.responseText);
            }
        };
        r.send();
    }
    openChannel();
}, false);
} catch (exception) {
    if (console && console.log) {
        console.log("Caught an error initializing: " + exception);
    }
}
</script>
{% endblock %}
{% block content %}
<div id="chat-content">
<div id="chat-box" style="min-width: 230px; float: right; border: 1px solid black; width: 29%;">
<div style="padding: 5px">
  <div style="margin-bottom: 3px">
  <label for="chat-nick" style="display: inline-block; width: 31%">Name</label>
  <input type="text" id="chat-nick" style="margin-left: auto; width: 66%">
  </div>

  <div id="chat-text" style="background: #eee; overflow-y: auto; padding: 3px; margin-bottom: 3px">
  <ul style="list-style: none; padding: 0; margin: 0 .25em">
  </ul>
  </div>
  <div style="text-align: right">users online: <span id="user-count">{{ users }}</span></div>
  <input type="text" id="chat-input" style="width: 98%">
</div>
</div>

<div id="map" style="width: 70%; border: 1px solid black">
</div>
</div>
<div id="error-content" style="display: none">
<p>Please stop using a crappy browser.</p>
<p>Supported browsers include:
<ul>
<li>Firefox 3.6+</li>
<li>Chrome 9+</li>
<li>Internet Explorer 9+</li>
</ul>
</p>
</div>
<script type="text/javascript">
if (!window.addEventListener || !document.querySelector || !document.querySelectorAll || !window.JSON) {
    var div = document.getElementById("chat-content");
    div.style.display = "none";
    div = document.getElementById("error-content");
    div.style.display = "block";
    throw Error("Please stop using a crappy browser");
}
</script>
{% endblock %}
